.item__card{
  width: 180px;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--neutral-color);
  padding: 5px;
  cursor: pointer;
}
.item__card img{
  width: 100%;
  border-radius: 1rem 0 1rem 0;
}
.item__card h3{
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
}